<w:tr>
    <w:tc>
        <w:tcPr>
            <w:tcW w:w="500" w:type="dxa"/>
        </w:tcPr>
        <w:p>
            <w:r>
                <w:t></w:t>
            </w:r>
        </w:p>
    </w:tc>
    <w:tc>
        <w:tcPr>
            <w:tcW w:w="500" w:type="dxa"/>
        </w:tcPr>
        <w:p>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="TH SarabunPSK" w:hAnsi="TH SarabunPSK"/>
                    <w:sz w:val="32"/>
                </w:rPr>
                <w:t>###numberadd###</w:t>
            </w:r>
        </w:p>
    </w:tc>
    <w:tc>
        <w:tcPr>
            <w:tcW w:w="5640" w:type="dxa"/>
        </w:tcPr>
        <w:p>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="TH SarabunPSK" w:hAnsi="TH SarabunPSK"/>
                    <w:sz w:val="32"/>
                </w:rPr>
                <w:t>###topicadd###</w:t>
            </w:r>
        </w:p>
    </w:tc>
    <w:tc>
        <w:tcPr>
            <w:tcW w:w="1500" w:type="dxa"/>
        </w:tcPr>
        <w:p>
            <w:pPr>
                <w:jc w:val="right"/>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="TH SarabunPSK" w:hAnsi="TH SarabunPSK"/>
                    <w:sz w:val="32"/>
                </w:rPr>
                <w:t>###amountadd###</w:t>
            </w:r>
        </w:p>
    </w:tc>
    <w:tc>
        <w:tcPr>
            <w:tcW w:w="500" w:type="dxa"/>
        </w:tcPr>
        <w:p>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="TH SarabunPSK" w:hAnsi="TH SarabunPSK"/>
                    <w:sz w:val="32"/>
                </w:rPr>
                <w:t>บาท</w:t>
            </w:r>
        </w:p>
    </w:tc>
</w:tr>