<w:tr>
    <w:tc>
        <w:tcPr>
            <w:tcW w:w="720" w:type="dxa"/>
        </w:tcPr>
        <w:p>
            <w:r>
                <w:t></w:t>
            </w:r>
        </w:p>
    </w:tc>
    <w:tc>
        <w:tcPr>
            <w:tcW w:w="6920" w:type="dxa"/>
        </w:tcPr>
        <w:p>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="TH SarabunPSK" w:hAnsi="TH SarabunPSK"/>
                    <w:sz w:val="32"/>
                </w:rPr>
                <w:t>- ###payrolltopic### (เหมาจ่ายตลอดโครงการ)</w:t>
            </w:r>
        </w:p>
    </w:tc>
    <w:tc>
        <w:tcPr>
            <w:tcW w:w="920" w:type="dxa"/>
        </w:tcPr>
        <w:p>
            <w:pPr>
                <w:jc w:val="right"/>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="TH SarabunPSK" w:hAnsi="TH SarabunPSK"/>
                    <w:sz w:val="32"/>
                </w:rPr>
                <w:t>###payrollamount###</w:t>
            </w:r>
        </w:p>
    </w:tc>
    <w:tc>
        <w:tcPr>
            <w:tcW w:w="500" w:type="dxa"/>
        </w:tcPr>
        <w:p>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="TH SarabunPSK" w:hAnsi="TH SarabunPSK"/>
                    <w:sz w:val="32"/>
                </w:rPr>
                <w:t>บาท</w:t>
            </w:r>
        </w:p>
    </w:tc>
</w:tr>